p {
    font-family:'Courier New', Courier, monospace;
    letter-spacing:1px;
}
h1 {
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 font-size: 50px;
 letter-spacing:2px;
 text-align: center;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing:2px;
}